.mentions-input {
    background-color: green;
}

.mentions-hidden {
    background-color: black;
}

.mentions-list {
    background-color: red;

    .mentions-list-primary {
        background-color: blue;
    }
}